# Proyek Analisis Data: Bike Sharing
- **Nama:** MUHAMAD FAHRUDIN
- **Email:** mufa290300@gmail.com
- **ID Dicoding:** mufa_290300

## Menentukan Pertanyaan Bisnis

- Pada Musim apakah penyewaan sepeda paling banyak?
- Pada Jam berapa penyewaan sepeda paling banyak dan paling sedikit ?
- Berapa banyak perbandingan orang yang registered dan casual ?

## Import Semua Packages/Library yang Digunakan

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

#### Memuat Tabel day.csv dan Tabel Hour.csv

In [2]:
#Memuat Tabel day.csv
day_df = pd.read_csv('day.csv')
day_df

FileNotFoundError: [Errno 2] No such file or directory: 'day.csv'

In [ ]:
hour_df = pd.read_csv('hour.csv')
hour_df

**Insight:**
- Berdasarkan tabel diatas dapat dilihat bahwa dataset day.csv memiliki jumlah baris sebanyak 731 dan 16 kolom.
- Dan untuk Tabel hour.csv memiliki jumlah baris sebanyak 17379 dan 17 kolom.

### Assessing Data

#### Menilai data dari day.csv dan hour.csv

In [ ]:
day_df.info()



*   Berdasarkan info dari tabel day.csv tidak ada data yang hilang semuanya telah lengkap tetapi ada kolom dteday terdeksi sebagai object seharusnya bertipe datetime.

In [ ]:
hour_df.info()



*   Dan tabel hour.csv pun datanya lengkap hanya saja sama bahwa kolom dteday terdeteksi sebagai object seharusnya datetime.

In [ ]:
day_df.describe()

 *   Berdasarkan tabel diatas tidak ada data yang aneh atau oulier semua aman dari min sampai dengan max.

*    Ada beberapa data yang seharusnya kategorikal menjadi numerik.
*    Dan Saya akan merubah nama nama kolom supaya dapat dibaca dengan mudah.

In [ ]:
hour_df.describe()

*   Dan tabel hour.cvs pun juga sama aman tidak ada data oulier
*   Ada beberapa data yang seharusnya kategorikal menjadi numerik.
*   Dan Saya akan merubah nama nama kolom supaya dapat dibaca dengan mudah.

In [ ]:
#Mengecek data yang hilang di tabel day_df
day_df.isnull().sum()



*   Dapat dibuktikan bahwa benar tidak ada missing value dalam tabel day_df

In [ ]:
# Mengecek data yang hilang di hour_df
hour_df.isnull().sum()



*   Begitupun Dengan tabel hour_df tidak ada missing value.

In [ ]:
#Memeriksa data yang duplikat
print("Jumlah data yang duplikat: ", day_df.duplicated().sum())
print("Jumlah data yang duplikat: ", hour_df.duplicated().sum())



*   Tidak ada data yang duplikat di dataframe day_df maupun hour_df.

### Cleaning Data

#### Mengubah Tipe data kolom dteday yang asalnya object menjadi datetime

In [ ]:
# Mengubah tipe data kolom dteday yang asalnya object menjadi datetime
day_df['dteday'] = pd.to_datetime(day_df['dteday'])
hour_df['dteday'] = pd.to_datetime(hour_df['dteday'])

#### Mengubah Tipe data int menjadi kategori pada kolom kolom

In [ ]:
# Mengubah Tipe data int menjadi data kategori pada kolom - kolom
columns = ["season", "mnth", "holiday", "weekday", "weathersit"]
for column in columns:
    day_df[column] = day_df[column].astype("category")
    hour_df[column] = hour_df[column].astype("category")

#### Mengubah kolom kolom agar mudah dibaca di data day_df

In [ ]:
# Mengubah nama - nama kolom agar mudah dibaca di data day_df.
day_df.rename(columns={
    "dteday": "date",
    "yr": "year",
    "mnth": "month",
    "cnt": "Total_count"
}, inplace=True)

#### Mengubah isi dari kolom kolom

In [ ]:
# Mengubah nama - nama kolom agar mudah dibaca di data hour_df
hour_df.rename(columns={
    "dteday": "date",
    "yr": "year",
    "mnth": "month",
    "hr": "hour",
    "cnt": "Total_count"
}, inplace=True)

In [ ]:
# Mengubah isi kolom berdasarkan info yang didapat dari sumber dataset.
day_df["season"] = day_df["season"].map({
    1: "Spring",
    2: "Summer",
    3: "Fall",
    4: "Winter"
})

In [ ]:
# data kolom season di data hour_df
hour_df["season"] = hour_df["season"].map({
    1: "Spring",
    2: "Summer",
    3: "Fall",
    4: "Winter"
})

In [ ]:
day_df["month"] = day_df["month"].map ({
    1: "Jan",
    2: "Feb",
    3: "Mar",
    4: "Apr",
    5: "May",
    6: "Jun",
    7: "Jul",
    8: "Aug",
    9: "Sep",
    10: "Oct",
    11: "Nov",
    12: "Dec"
})

In [ ]:
# Mengubah kolom month di hour_df
hour_df["month"] = hour_df["month"].map ({
    1: "Jan",
    2: "Feb",
    3: "Mar",
    4: "Apr",
    5: "May",
    6: "Jun",
    7: "Jul",
    8: "Aug",
    9: "Sep",
    10: "Oct",
    11: "Nov",
    12: "Dec"
})

In [ ]:
#Mengubah isi di kolom weekday di data day_df dan hour_df
day_df["weekday"] = day_df["weekday"].map({
    0: "Sunday",
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday"
})
hour_df["weekday"] = hour_df["weekday"].map({
    0: "Sunday",
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday"
})

In [ ]:
# Mengubah isi kolom weathersit
day_df["weathersit"] = day_df["weathersit"].map({
    1: "Clear",
    2: "Misty",
    3: "Light Rainsnow",
    4: "Heavy Rainsnow"
})
hour_df["weathersit"] = hour_df["weathersit"].map({
    1: "Clear",
    2: "Misty",
    3: "Light Rainsnow",
    4: "Heavy Rainsnow"
})

In [ ]:
# Mengubah isi data year
day_df["year"] = day_df["year"].map({
    0: 2011,
    1: 2012
})

**Insight:**
- Mengubah tipe kolom dteday
- Mengubah nama nama kolom supaya mudah dibaca
- Mengubah isi kolom berdasarkan sumber dataset

## Exploratory Data Analysis (EDA)

### Explore ...

#### Melihat Jumlah penyewaan di tiap tiap musim

In [ ]:
# Melihat jumlah penyewaan tiap tiap musim
day_df.groupby("season")["Total_count"].sum().sort_values(ascending=False).reset_index()

#### Melihat Jumlah penyewaan berdasarkan jam

In [ ]:
# Melihat jumlah penyewaan berdasarkan jam
hour_df.groupby("hour")["Total_count"].sum().sort_values(ascending=False).reset_index()

#### Melihat Jumlah penyewaan tiap tahun berdasarkan registered dan casual

In [ ]:
#melihat jumlah penyewaan tiap tahun berdasarkan registered dan casual
day_df.groupby(by="year").agg({
    "registered": ["sum"],
    "casual": ["sum"]
})

**Insight:**
- Berdasarkan data data diatas dapat diketahui bahwa penyewa terbannyak ada pada musim fall.Penyewa terbanyak pada jam 17.00 dan paling rendah pada jam 4.00.Dan terakhir data yang ter registered di 2011 itu 995851 dan yang casual itu 247252 pada tahun 2012 ter registered 1676811 dan casula 372765 melihat data tersebut sangat jauh sekali pengguna ter registered dan casual.

## Visualization & Explanatory Analysis

### Pertanyaan 1: Pada musim apakah penyewaan paling terbanyak ?

In [ ]:
## Pada musim apakah penyewaan paling terbanyak?
# mengatur warna
colors = ["#D3D3D3", "#D3D3D3", "#72BCD4", "#D3D3D3"]
# Membuat plot
fig, ax = plt.subplots(figsize=(10, 5))
# Membuat barplot
sns.barplot(
    x="season",
    y="Total_count",
    data=day_df.sort_values(by="season", ascending=False),
    palette=colors,
    ax=ax
)
# Membuat judul dan label
ax.set_title("Jumlah Penyewaan Sepeda Tiap Musim", loc="center", fontsize=50)
ax.set_ylabel(None)
ax.set_xlabel(None)
ax.tick_params(axis='x', labelsize=35)
ax.tick_params(axis='y', labelsize=30)
# Menampilkan plot
plt.show()



*   Musim paling banyak disewa sepeda nya adalah pada musim Fall.

### Pertanyaan 2: Pada Jam berapa penyewaan sepeda paling banyak dan paling sedikit ?

In [ ]:
# Mengelompokan data
sum_order_items_df = hour_df.groupby("hour").Total_count.sum().sort_values(ascending=False).reset_index()
# Membuat barplot untuk penyewa sepeda terbanyak
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(35, 15))
sns.barplot(x="hour", y="Total_count", data=sum_order_items_df.head(5), palette=["#D3D3D3", "#D3D3D3", "#90CAF9", "#D3D3D3", "#D3D3D3"], ax=ax[0])
# Menambahkan judul dan label untuk tabel pertama
ax[0].set_ylabel(None)
ax[0].set_xlabel("Hours (PM)", fontsize=30)
ax[0].set_title("Jam dengan banyak penyewa sepeda", loc="center", fontsize=30)
ax[0].tick_params(axis='y', labelsize=35)
ax[0].tick_params(axis='x', labelsize=30)
# Membuat bar plot untuk penyewa sepeda paling sedikit
sns.barplot(x="hour", y="Total_count", data=sum_order_items_df.sort_values(by="hour", ascending=True).head(5), palette=["#D3D3D3", "#D3D3D3", "#D3D3D3", "#D3D3D3","#90CAF9"], ax=ax[1])
# Menambahkan judul dan label untuk tabel kedua
ax[1].set_ylabel(None)
ax[1].set_xlabel("Hours (AM)",  fontsize=30)
ax[1].set_title("Jam dengan sedikit penyewa sepeda", loc="center", fontsize=30)
ax[1].invert_xaxis()
ax[1].yaxis.set_label_position("right")
ax[1].yaxis.tick_right()
ax[1].tick_params(axis='y', labelsize=35)
ax[1].tick_params(axis='x', labelsize=30)
# Menampilkan plot
plt.show()

*   Dari data diatas kita bisa melihat penyewa terbanyak itu ada pada jam 17.00 dan paling sedikit itu ada pada jam 4.00

### Pertanyaan 3: Berapa banyak perbandingan orang yang registered dan casual ?

In [ ]:
# Menjumlahkan semua elemen dalam kolom casual
total_casual = sum(day_df['casual'])

# Menjumlahkan semua elemen dalam kolom registered
total_registered = sum(day_df['registered'])

# Membuat data untuk pie plot
data = [total_casual, total_registered]
labels = ['Casual', 'Registered']

# Membuat pie plot
plt.pie(data, labels=labels, autopct='%1.1f%%', colors=["#D3D3D3", "#72BCD4"])
plt.title('Perbandingan Pengguna Casual dan Registered', fontsize=16)

# Menampilkan pie plot
plt.show()



*   Bisa dilihat dari grafik diatas bahwa yang telah ter registered itu 81.2% dan yang casual adalah 18.8%.

## Analisis Lanjutan (Opsional)



#### ANALISIS CLUSTERING

**Total Penyewa Berdasarkan Weathersit**

In [ ]:
# Total Pengguna berdasarkan cuaca
# Group by 'weathersit' and sum 'Total_count'
weather_counts = hour_df.groupby('weathersit')['Total_count'].sum().reset_index()

# Display the result
print(weather_counts)

## Conclusion

- Pertanyaan 1 : Pada musim apakah penyewaan paling terbanyak ?
  
  Kesimpulan nya bahwa musim terbanyak itu ada pada musim fall(Musim Gugur).
  Musim fall sebanyak 1061129, Musim Summer 918589 ,Winter	841613 ,Spring	471348

- Pertanyaan 2 : Pada Jam berapa penyewaan sepeda paling banyak dan paling sedikit ?
  
  Kesimpulan nya bahwa penyewa terbanyak itu ada pada jam 17.00 dan penyewa paling sedikit itu ada pada jam 4.00
- Pertanyaan 3 : Berapa banyak perbandingan orang yang registered dan casual ?
  
  Kesimpulannya bahwa yang telah ter registered itu adalah 81.2% dan casual itu adalah 18.8%